@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700);

* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin-top: 0;
    background-color: #191919;
    color: #009999;
}

span {
    font-family: 'Josefin';
}

.navbar {
    padding-top: .2em;
    align-self: center;
    width: 85%;
    height: 1.5em;
    margin: 0 auto;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6em;
}

.currentpage {
    border-bottom: 2px solid tomato;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

li {
    float: right;
    margin: 0 10px;
    position: relative;
    border: 2px solid #fff;
}

li:hover {
    border: 2px solid tomato;
}

.searchbar {
    position: relative;
    margin: 2em auto 0 auto;
    width: 50%;
    height: 50px;
    border-radius: 2px;
    background-color: #fff;
}

#searchbar {
    display: block;
    width: 100%;
    padding: 18px 150px 15px 17px;
    background: none;
    border: none;
    line-height: 17px;
    font-size: 14px;
    color: #9b9b9b;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.searchbutton {
    font-family: "Raleway" sans-serif;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 30px;
    width: 45px;
    padding: 0;
    border: none;
    background-color: tomato;
    color: #9b;
    cursor: pointer;
    border-radius: 2px;
}
