@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,600,700);
@import url('https://fonts.googleapis.com/css?family=Lora|Noto+Sans');

* {
    font-family: 'Raleway', sans-serif;
}

html {
    min-height: 100%;
}

body {
    margin: 0;
    /*background-color: #F44336;*/
    background-color: #424242;
    color: #FFEB3B;
    /*height: 95%;*/
}

span {
    font-family: 'Noto Sans';
    margin-left: 25px;
}

.navbar {
    padding-top: .55em;
    align-self: center;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: #222;
    /*text-transform: uppercase;*/
    font-size: 1.4em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1004;
}

.currentpage {
    /*border-bottom: 2px solid tomato;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

li {
    float: right;
    margin: 0 10px;
    position: relative;
    padding-top: 5px;
    /*border: 2px solid #fff;*/
}

li:hover {
    /*border: 2px solid tomato;*/
}

.searchbar {
    position: relative;
    margin: 125px auto 0 auto;
    width: 50%;
    height: 50px;
    border-radius: 2px;
    background-color: #fff;
}

#searchbar {
    display: block;
    width: 100%;
    padding: 18px 150px 15px 17px;
    background: none;
    border: none;
    line-height: 17px;
    font-size: 14px;
    color: #9b9b9b;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

.searchbutton {
    font-family: "Raleway" sans-serif;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    height: 30px;
    width: 45px;
    padding: 0;
    border: none;
    background-color: #222;
    color: #FFEB3B;
    cursor: pointer;
    border-radius: 2px;
}

.searchbutton:hover {
    background-color: #FFEB3B;
    color: #222;
}

a {
    text-decoration: none;
    color: #FFF9C4;
    text-transform: uppercase;
}

.about {
    position: relative;
    margin: 60px auto 50px auto;
    font-family: "Lora";
    font-size: 20px;
    padding: 0 15% 10px 15%;
    /*background-color: #F44336;*/
    background-color: #424242;
    width: 70%;
    color: #FFEB3B;
    z-index: 2;
}

.about h1 {
    border-top: 3px solid #222;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    font-family: "Raleway";
    font-size: 24px;
}

.about p {
    margin-top: 5px;
    padding: 0 10px;
    font-family: "Lora";
    font-size: 18px;
    color: #FFF9C4;
}

footer {
    font-family: "Noto Sans";
    align-self: center;
    background-color: #222;
    color: #FFEB3B;
    height: 25px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    font-size: 14px;
    padding-top: 0.55em;
    z-index: 1;
}

.footertext {
    margin: 0 auto;
    padding-left: 25px;
}
